header{
    width:100%;
    height:100px;
    background-color: var(--darkgrey)  ;

    position:relative;
}

header .navbar{
    max-width: 1240px;
    height:100%;
    padding: 0 1rem;
    margin: auto;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items: center;
}

header .logo{
    display:flex;
    align-items:center;
}


header .logo img{
    width:80px;
    height:auto;
}

.hamburger{
    display:none;
    align-items:center;
    justify-content:center;
    padding-left:2rem;
    position:relative;
} 

.burger:nth-child(2){
    display:none;
}

.burger{
    position:absolute;
    left:0;
}

.nav-menu{
    display:flex;
    margin-left: auto;
}

.nav-item{
    display:flex;
}

.nav-item:not(:first-child){
    margin-left:3rem;
}

.nav-link{
    color:#fff;
}

@media  screen and (max-width: 768px) {
    .hamburger{
        display:flex;
        margin-left:auto;
    }

    .logo{
        align-self:flex-start;
        z-index:2;
    }

    .nav-menu.active{
        left:0;
    }

    .nav-menu{
        flex-direction: column;
        justify-content: center;
        transition: 0.4s;
        align-items: center;
        position:fixed;
        width:100%;
        height:200vh;
        padding-top:32rem;
        background-color: var(--darkgrey);
        transition:0.4s;
        left:-100%;
    }


    .nav-item{
        margin: 1.5rem 0;
        font-size:1.8rem;
    }


    .nav-item:not(:first-child){
        margin-left:0rem;
    }
}